<h1>CONTACTO</h1>
<form class="formulario" >
    <div class="contenedor-campos">
        <div class="campo"> 
            <label form="user">Email</label>
            <input class="input-text" type="text" name="user" id="" placeholder="email" required>
        </div>               
        <div class="campo">    
            <label form="message">Consulta</label>
            <textarea class="input-text"  type="text" name="message" id="" cols="22" rows="10" placeholder="consulta" required></textarea>
        </div>
    </div>
                
    <div>
        <input class="boton" type="submit" value="Enviar">
    </div>
</form>

<script src="/static/userQuery.js"></script>